:root {
    --bg-xolor: #101010;
    --body-xolor: #a0a0a0;
    --nav-foot: #202020;
    --xolor: #dbae59;
    --xolor-darker: #a48243;
    --xolor-darker-darker: rgb(128, 105, 63);
    --bg-xolor-secondary: #242424;
    --logo-header: url("../images/logo-gold.png");
    --logo-header-vertical: url("../images/logo-gold-vertical.png");
    --logo-svg: url("../images/logo-gold.svg");
    --favixon: url("../images/favicon-gold.ico");
}