@mixin linx ($link, $hover, $darker) {
    a {
        color: $link;
        text-decoration: none;
        &:visited {
            color: $link;
            text-decoration: none;
        }
        &:hover {
            color: $hover;
            text-decoration: none;
        }
        &:active {
            color: $hover;
            text-decoration: none;
        }
        &:focus {
            color: $darker;
            text-decoration: none;
        }
    }
}

$body-bg: var(--bg-xolor);
$body-color: var(--body-xolor);
$font-family-sans-serif: 'Open Sans';
$card-color: var(--body-xolor);
$card-bg: var(--bg-xolor-secondary);
$input-bg: var(--nav-foot);
$input-disabled-bg: var(--bg-xolor-secondary);
$input-color: var(--body-xolor);
$input-border-color: var(--xolor);
$input-focus-border-color: none;
$input-focus-box-shadow: 0 0 0 1px var(--xolor);
