.footer {
    background-color: var(--nav-foot);
    color: var(--xolor);
    margin-top: 30px;
}

.footer .col-2 {
    padding: 0;
}

.footer-icons {
    @include linx(var(--xolor), var(--xolor-darker), var(--xolor-darker-darker));
    font-size: 2.5em;
    margin: 0.25em 0;
}