body .list-group {
    margin: 0;
}

body .list-group-item-primary {
    text-align: center;
    background-color: var(--xolor);
    color: var(--bg-xolor);
}

body .list-group-item-secondary {
    text-align: center;
    background-color: var(--bg-xolor-secondary);
    color: var(--body-xolor);
}

.gigs-table table {
    margin: auto;
}

.gigs-table th, td {
    width: 26vw;
    height: 48px;
    font-size: .75rem;
    padding: 0;
}