@include media-breakpoint-up(sm) {
    .main-header {
        position: static;
    }
    .main-header .logo-header {
        content: var(--logo-header);
        height: auto;
    }
    #main-nav .navbar-toggler {
        position: absolute;
        top: 8px;
        right: 16px;
    }
    .h1-sections {
        font-size: 3.5em;
    }
    #about .h2-sections {
        font-size: 2.5em;
    }
    .hr-divider {
        margin: 40px 0;
    }
    .history {
        text-align: justify;
    }
    .card {
        width: auto;
    }
    .gigs-table th, td {
        width: 23vw;
        height: 48px;
        font-size: 1rem;
    }
    .footer {
        margin-top: 40px;
    }
}

@media (min-width: 576px) and (max-width: 620px) {
    .card {
        width: 16rem;
    }
}

@include media-breakpoint-up(md) {
    .h1-sections {
        font-size: 4em;
    }
    .carousel {
        height: auto;
        border: medium double var(--xolor);
    }
    .card {
        width: 18rem;
    }
    .gigs-table th, td {
        width: 22vw;
    }
}

@include media-breakpoint-up(lg) {
    #main-nav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.25s ease-in-out;
    }
    #main-nav .navbar-brand {
        padding: .5rem 0;
        display: block;
        width: auto;
    }
    #main-nav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        width: auto;
    }
    #main-nav .nav-link:hover {
        color: var(--xolor);
    }
    #main-nav.navbar-shrink {
        background-color: var(--nav-foot) !important;
    }
    #main-nav.navbar-shrink .nav-link {
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #main-nav.navbar-shrink .nav-link:hover {
        color: var(--xolor);
    }
    #main-nav.navbar-shrink .nav-link.active {
        outline: none;
        border-bottom: 0.25rem solid var(--xolor);
    }
    #main-nav .navbar-toggler {
        display: none;
    }
    .theme:nth-child(1) {
        display: block;
    }
    .theme:nth-child(2) {
        display: none;
    }
    .x-nav {
        display: none;
    }
    .hr-divider {
        margin: 66px 0;
    }
    .h1-sections {
        font-size: 4.5em;
    }
    .carousel {
        height: auto;
    }
    .card {
        width: auto;
    }
    .footer {
        margin-top: 66px;
    }
}

@media (min-width: 992px) and (max-width: 1035px) {
    .card {
        width: 16rem;
    }
}

@include media-breakpoint-up(xl) {
    .hr-divider {
        margin: 58px 0;
    }
    .carousel {
        height: auto;
    }
    .card {
        width: 15rem;
    }
    .card h5 {
        font-size: 1rem;
    }
}

@media (min-width: 1270px) {
    .card {
        width: 16rem;
    }
    .card h5 {
        font-size: 1.25rem;
    }
}

@media (min-width: 1440px) {
    .card {
        width: 19rem;
    }
}

@media (max-width: 575.98px) and (max-height: 359px) {
    .main-header .logo-header {
        content: var(--logo-header);
    }
    .main-header .col-2 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}